grafana:
  elasticsearch-url: http://127.0.0.1:9200
  graphite-url: http://127.0.0.1:9000
  default-route: /dashboard/file/default.json
  index-name: grafana-dash
  panel-names:
    - text
    - graphite
